<?xml version="1.0" ?>
<robot name="plane">
  <link name="cylinder">
    <visual>
      <geometry>
        <cylinder radius="0.05" length="1"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.05" length="1"/>
      </geometry>
    </collision>
  </link>
</robot>
